@font-face {
    font-family: 'Roboto', sans-serif;

}

body{
	font-family: 'Roboto';  
}
.no-padding{
	padding: 0;
}
a, a:hover{
	text-decoration: none;
	transition: .4s;
}
/*=============================
==============BODY=============
=============================*/
.body_bg{
	width: 100vw;
	height: 100vh; 
	box-shadow:0 0 0 850px rgba(0, 0, 0, 0.7) inset; 
	background: url(../img/img_bg.jpg); 
	background-size: cover;
	overflow-x: hidden; 
}
.logo, .tel{
	display: inline-block; 
}
.logo{
	margin: 25px 0 0; 
}
.logo h2{
	color: #fff;
	margin: 0; 
	font-family: 'Roboto'; 
}
.tel{
	margin: 31px 0 0; 
}
.tel_dir{
	text-align: right; 
}
.tel_dir a{
	color: #fff;
	font-size: 20px;
}
h1{
	font-family: 'Roboto'; 
	color: #fff;
	text-transform: uppercase; 
	font-size: 36px;  
	text-align: center; 
	line-height: 2.4;
	margin: 15% 0 7%;
}
h1 span{
	color: #f4f219;
} 
.main_info{
	text-align: center; 
}
.main_info p{ 
	color: #fff;
    font-size: 24px;
    margin: 3% 0 0;	
}
.main_info p span{
	color: #f4f219; 
}
.main_info a{
	color: #fff;
    border: 5px solid #f4f219;
    background: transparent;
    margin: 10% 0; 
    font-size: 20px;
    padding: 15px 25px;
    display: inline-block;
    border-radius: 50px; 
	font-family: 'Roboto'; 
}
.main_info a:hover{
	background: #f4f219; 
}
/*=============================
===========MODAL FORM==========
=============================*/
#callback_oprosnik{
	display: block;
	width: 95vw;
	max-width: 1000px;  
	overflow-x: hidden; 
	background: #fff;
    border: 5px solid #e6e6e6;
	padding: 20px;
}
#callback_oprosnik h2{
	font-size: 16px;
	text-align: left;
	margin: 0 0 10px;
}
hr{
	border: none;
    display: block;
    height: 1px;
	background: #f3f3f3;
    margin: auto -30px;
}
.title-icon{
	height: 19px;
}
.cls_icon{
	fill: #ca2f94;
	height: 19px;
}
.back_btn, .next_btn{
	font-size: 16px;
    z-index: 100;
	padding: 10px 30px 8px;
    border-radius: 25px;
    border: none;
	background: #fff;
	color: #4a505e; 
	box-shadow: 0 3px 13px 0 rgba(0,0,0,.13); 
	border-color: transparent; 
}
.back_btn span, .next_btn span, .next_btn .svg_wr, .back_btn .svg_wr{
	display: inline-block; 
	vertical-align: top; 
}
.back_btn .svg_wr{
	padding: 1px 5px 0 0;
}
.next_btn{ 
	background: #ca2f94;
	color: #fff; 
}
.next_btn .svg_wr{ 
    padding: 3px 0 0 5px;
}
.back_btn svg{  
	transform: rotate(180deg);
	fill: #4a505e;
    width: 20px;
    height: 15px;
} 
.next_btn{
	float: right; 
	box-shadow: 0 6px 21px 0 #ca2f9480; 
}
.next_btn svg{
	fill: #fff; 
    width: 20px;
    height: 15px;
}
.progress-bar_info{
	font-size: 12px;
    text-align: left;
    font-weight: 500;
    color: #7e8ca8;
    margin-bottom: 8px;
    height: 18px;
    position: relative; 
}
.progress-bar_wr{
	height: 6px;
    position: relative;
    background: #dbdbdb;
    border-radius: 25px;
    box-shadow: inset 0 -1px 1px hsla(0,0%,100%,.3);
}
.progress-bar_wr span{ 
	display: block;
    height: 100%;
    border-radius: 20px;
    background-image: linear-gradient(90deg,#a12676,#d756aa);
    box-shadow: inset 0 2px 9px hsla(0,0%,100%,.3),inset 0 -2px 6px rgba(0,0,0,.4),.6px 1.9px 7px 0 #ca2f9480;
    position: relative;
    overflow: hidden;
    transition: all .3s ease;
}
.progress-bar_wr span:after{ 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(-45deg,hsla(0,0%,100%,.08) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.08) 0,hsla(0,0%,100%,.08) 75%,transparent 0,transparent);
    z-index: 1;
    background-size: 20px 20px;
    -webkit-animation: move 1.5s linear infinite;
    animation: move 1.5s linear infinite;
    border-radius: 20px;
    overflow: hidden;
} 
.next_prev_btns{
	margin: 15px 0 0;  
}
.progress_bar_line{
	margin: 10px 0 0; 
}
.answer_block{
	width: 48%;
	margin: 0 3% 1% 0; 
}
.answer_block.ch{
	margin: 0 0 1% 0;  
}
.answer_block{
	padding: 10px 10px 6px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid rgba(217,216,230,.55);
}
.answer_block input[type=radio]{
    display: none;
}
.answer_block input[type='radio'] + label{
    cursor: pointer;
    background: url(../img/radio_btn_img.png) no-repeat; 
    padding-left: 25px;
	width: 100%;  
    height: 20px; 
    display: inline-block;  
    line-height: 1.4;
}
.answer_block input[type='radio']:checked + label{
    background:  url(../img/radio_btn_img_active.png) no-repeat; 
}
.answer_block span{ 
	padding: 1px 0 0 5px;  
	display: inline-block; 
}
.modal_block_6{
	text-align: center; 
}
.modal_block_6 img{
	height: 35px;
	width: 35px; 
	margin: 0 0 15px; 
}
.modal_block_6 input{
	margin: 0 0 15px; 
	border-radius: 4px;
	font-size: 20px; 
	width: 250px; 
	padding: 10px; 
    border: 1.3px solid #c0c4c3;
}
.modal_block_6 input.send{
	background: #ca2f94; 
	box-shadow: 1.7px 5.8px 21px 0 #ca2f9480; 
	color: #fff;   
}
.conf{
	margin: 3px 0 0; 
}  
.modal_block_7{
	text-align: center; 
}
.modal_block_7 h3{
	margin: 0px 0 10px;
}
.modal_block_7 img{
	height: 35px;
	width: 35px; 
	margin: 10px 0 15px; 
}
.modal_block_7 a{
	margin: 15px 0 15px;
    border-radius: 4px;
    font-size: 20px;
    display: inline-block;
    width: 250px;
    padding: 10px;
    text-transform: uppercase;
    border: none;
    background: #ca2f94;
    box-shadow: 1.7px 5.8px 21px 0 #ca2f9480;
    color: #fff;
}
.modal_block_1, .modal_block_2 , .modal_block_3,  .modal_block_4 , .modal_block_5 , .modal_block_6 , .modal_block_7{  
	display: none;  
}
.next_prev_btns button{
	outline: none; 
}
#spasibo_wr{
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .35);
	z-index: 9000;
	display: none;
}
.spasibo_text{
	position: absolute;
    left: calc(50% - 150px);
    top: 50%;
    margin-top: -75px;
    max-width: 300px;
    width: 100%;
    height: 210px;
    padding: 25px;
    text-align: center;
    background: #ca2f94;
    color: #fff;
}
/*=========================== Контакты==========================*/

.btn-custom{
	background: #fece6c;
    color: #b5562b;
    border-color: #fece6c;
    border-radius: 40px;
    font-size: 1rem;
}

.title{
	padding: 15px 0;
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.6rem;
	margin: 15px;
}

@media (max-width: 1200px){  
    .wrap{
		width: 95% !important;
	} 
	#callback_oprosnik{
		display: block;
		width: 95vw;
		max-width:100%;
	}
}
@media (max-width: 767px){  
	.answer_block, .answer_block.ch {
		width: 100%;
		margin: 0 0 1%; 
	}
	.tel_dir, .logo{
		text-align: center; 
	}
	h1{
		font-size: 30px; 
	}
	.main_info p {
		color: #fff;
		font-size: 20px;
		margin: 3% 0 0;
	}
	.logo{
		margin: 25px auto 0;
		display: block;
	}
	.back_btn, .next_btn {
		font-size: 16px;
		z-index: 100;
		padding: 7px 20px 5px;
	}
	.back_btn{
		margin: 0 0 10px; 
	}
	.next_btn {
		float: none; 
	}
	.modal_block_6 input { 
		width: 100%;
	}
}
@media (max-width: 460px){ 
	.modal_block_7 a {
		width: 195px;
	}
	.modal_block_6 input{
		font-size: 18px;
	}
}
